{
  packageOverrides = pkgs: with pkgs; {
    devPack = pkgs.buildEnv {
      name = "dev-pack";
      paths = [
        (hiPrio nixUnstable)
        (hiPrio coreutils)
        zsh
        zoxide
        zsh-powerlevel10k
        starship
        fzf
        fd
        ripgrep
        bat
        exa
        navi
        skim
        curl
        delta
        gitAndTools.gh
        lazygit
        gitflow
        grv
        diffr
        python39Packages.pipx
        bpytop
        hyperfine
        ranger
        gotop
        screenfetch
        jq
        nnn
        ghq
        broot
        lf
        glances
        watchman
        aspell
        bc
        gdb
        emscripten
        nox
        neovim
        neovim-remote
        python39Packages.pynvim
        nodejs
        yarn
        ctags
        /* Language Servers Start */
        /* Language Servers End */
      ];
      extraOutputsToInstall = [ "man" "doc" ];
      /* programs.zsh.promptInit = "source ${pkgs.zsh-powerlevel10k}/share/zsh-powerlevel10k/powerlevel10k.zsh-theme"; */
    };
  };
}
