{
  packageOverrides = pkgs: with pkgs; {
    devPack = pkgs.buildEnv {
      name = "dev-pack";
      paths = [
        /* (hiPrio nixUnstable) */
        (hiPrio coreutils)
        (hiPrio binutils)
        gcc
        zsh
        zoxide
        zsh-powerlevel10k
        starship
        fzf
        fd
        ripgrep
        bat
        exa
        navi
        skim
        hyperfine
        procs
        sd
        du-dust
        tokei
        bottom
        grex
        curl
        delta
        git
        gitAndTools.gh
        lazygit
        gitflow
        grv
        diffr
        python39Packages.pipx
        bpytop
        ranger
        gotop
        screenfetch
        jq
        nnn
        ghq
        broot
        lf
        sc-im
        glances
        watchman
        aspell
        bc
        gdb
        emscripten
        nox
        cookiecutter
        neovim
        neovim-remote
        python39Packages.pynvim
        nodePackages.neovim
        nodejs
        yarn
        ctags
        nodePackages.prettier
        shfmt
        /* Language Tools Start */
        {{ lang_tools_nix | join('\n') }}
        /* Language Tools End */
      ];
      extraOutputsToInstall = [ "man" "doc" ];
    };
  };
}
